#main-top {
    background-color: orangered;
    width: 1366px;
    height: 120px;
    position: relative;
    right: 8px;
    bottom: 8px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding-right: 22px;
}

#top-1 {
    text-align: right;
    width: 600px;
    border: 2px solid orangered;
    padding-left: 120px;
    position: absolute;
    left: 580px;
}
a:hover{
    color: rgb(167, 141, 141);
}
#top-2 {
    display: inline-flex;
    height: 76px;
    width: 982px;
    position: absolute;
    top: 30px;
    left: 220px;
    text-align: center;
}

#main-icon {
    width: 100px;
    height: 60px;
    position: relative;
    top: 4px;
}

#search-bar {
    position: relative;
    top: 14px;
    left: 12px;
    width: 702px;
    height: 40px;

}

#shop-icon {
    width: 45px;
    height:50%;
    position: relative;
    top: 14px;
    left: 22px;
}
#search-button{
    height: 39px;
    width: 45px;
    position: relative;
    top: 14px;
    left: 12px;
    background-color: white;
     
}
#baner{
    width: 80%;
    height: 300px;
    position: relative;
    bottom: 8px;
    left: 100px;

}